.mb-10 {
    margin-bottom: 10%;
}

.footer-welcome {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer-welcome a {
    color: white;
}

.footer-welcome a:hover {
    color: white;
    text-decoration: none;
}

.main-divider {
    height: 10%;
    background-color: dodgerblue;
}

.main-divider {
    height: 5%;
}

.about-link {
    text-decoration: none;
    color: #252525;
}

.about-link:hover {
    text-decoration: none;
    color: #252525;
}

.edu-text:hover {
    color: #b2b2b2 !important;
}

.hover-img:hover {
    height: 78% !important;
    width: 78% !important;
    opacity: .6 !important;
}

.hover-img:active {
    height: 85% !important;
    width: 85% !important;
    opacity: .9 !important;
}

.hover-main-img:hover {
    height: 98.2% !important;
    width: 98.2% !important;
}

.hover-main-img:active {
    height: 99% !important;
    width: 99% !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    scroll-behavior: smooth;
}

.text-spotify {
    color: #2ebd59;
}

.text-hue {
    color: #C229F5;
}

.text-hue-faint {
    color: rgba(129, 41, 180, 0.83);
}

.btn-outline-hue {
    color: rgba(129, 41, 180, 0.83);
    border: 1px solid rgba(129, 41, 180, 0.83) !important;
}

.btn-outline-hue:hover {
    color: white !important;
    background-color: rgba(129, 41, 180, 0.83);
    border-color: rgba(129, 41, 180, 0.83);
}

.text-faint {
    color: #cdcdcd;
}

#spotify_connected:hover {
    color: #2ebd59;
}

#hue_connected:hover {
    color: #C229F5;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

body {
    background: url("/img/maincover.jpg");
    background-size: cover;
}