.footer-welcome {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #0072F3;
    color: white;
}
.footer-welcome a{
    color: white;
}
.main-divider{
    height: 10%;
    background-color: dodgerblue;
}
.main-divider{
    height: 5%;
}

.about-link{
    text-decoration: none;
    color: #252525;
}

.about-link:hover{
    text-decoration: none;
    color: #252525;
}

.edu-text{
}

html, body{
    margin:0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    scroll-behavior: smooth;
}
.text-spotify{
    color: #2ebd59;
}

.text-hue{
    color: #C229F5;
}

.text-hue-faint{
    color: rgba(129, 41, 180, 0.83);
}

.btn-outline-hue{
    color: rgba(129, 41, 180, 0.83);
    border: 1px solid rgba(129, 41, 180, 0.83) !important;
}

.btn-outline-hue:hover{
    color: white;
    background-color:  rgba(129, 41, 180, 0.83);
    border-color: rgba(129, 41, 180, 0.83);
}

.text-faint{
    color: #cdcdcd;
}

#spotify_connected:hover{
    color: #2ebd59;
}

#hue_connected:hover{
    color: #C229F5;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}